# Root
.env
credentials.json
token.pickle

# Linkedin Emails
/LinkedinEmail/application_tracker.csv
/LinkedinEmail/Linkedin_applications.csv

# Other Emails
/OtherEmail/auth.py
/OtherEmail/credentials.json
/OtherEmail/token.pickle
/OtherEmail/berkeleyEmail.csv
/OtherEmail/testCompanyName.csv
/OtherEmail/email.csv
/OtherEmail/testEmail.csv
/OtherEmail/data_engineering.ipynb
/OtherEmail/logistic_regression_model.pkl
/OtherEmail/train.py
/OtherEmail/.ipynb_checkpoints
/OtherEmail/__pycache__
