# Root
.env
credentials.json
token.pickle

# Linkedin Emails
/LinkedinEmail/application_tracker.csv
/LinkedinEmail/Linkedin_applications.csv

# Other Emails
/OtherEmail/auth.py
/OtherEmail/credentials.json
/OtherEmail/token.pickle
/OtherEmail/berkeleyEmail.csv

