# Root
.env
credentials.json
token.pickle

# Linkedin Emails
/LinkedinEmail/application_tracker.csv
/LinkedinEmail/Linkedin_applications.csv

# Other Emails
/application_tracker/auth.py
/application_tracker/credentials.json
/application_tracker/token.pickle
/application_tracker/berkeleyEmail.csv
/application_tracker/testCompanyName.csv
/application_tracker/email.csv
/application_tracker/testEmail.csv
/application_tracker/data_engineering.ipynb
/application_tracker/logistic_regression_model.pkl
/application_tracker/train.py
/application_tracker/.ipynb_checkpoints
/application_tracker/__pycache__
/application_tracker/package-lock.json
/application_tracker/package.json
